# Application
APP_NAME=Project Rock API
APP_VERSION=0.1.0
ENVIRONMENT=development

# Server
HOST=0.0.0.0
PORT=8000

# Logging
LOG_LEVEL=INFO

# CORS
FRONTEND_URL=FRONTEND_URL=http://<FRONTEND_HOST>:5173

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=projectrock
DATABASE_USER=projectrock
DATABASE_PASSWORD=projectrock
